
st.termname: st-256color
st.font: DejaVuSansMono:pixelsize=16:antialias=true:autohint=true;
st.xfps: 120
st.actionfps: 30
st.mouseScrollLines: 3

*foreground: #ffffff
*foreground_bold: #a8a19f
*cursor: #a8a19f

*background: #000000
!!*background: rgba(0, 0, .7)

!!black
!normal scheme
!*color0: #073642
!*color8: #002b36
!gruvbox
*.color0: #1d2021
*.color8: #928374

!!red
!normal scheme
!*color1: #dc322f
!*color9: #eb4b16
!gruvbox
*.color1: #cc241d
*.color9: #fb4934

!!green
!normal scheme
!*color2:  #859900
!*color10: #586e75
!gruvbox
*.color2: #98971a
*.color10: #b8bb26

!!yellow
!normal scheme
!*color3:  #b58900
!*color11: #657b83
!gruvbox
*.color3: #d79921
*.color11: #fabd2f

!!blue
!normal scheme
!*color4:  #268bd2
!*color12: #839496
!gruvbox
*.color4: #458588
*.color12: #83a598

!!magenta
!normal scheme
!*color5:  #d33682 
!*color13: #6c71c4
!gruvbox
*.color5: #b16286
*.color13: #d3869b

!!cyan
!normal scheme
!*color6:  #2aa198
!*color14: #93a1a1
!gruvbox
*.color6: #689d6a
*.color14: #8ec07c

!!white
!normal scheme
!*color7:  #eee8d5
!*color15: #fdf6e3
!gruvbox
*.color7: #a89984
*.color15: #ebdbb2


! URxvt is no longer in use. 

!URxvt.intensityStyles: 	false
!URxvt.background:	#000000
!URxvt.depth: 	  	32
!URvt.cursorColor:	white
!URxvt.font:		 xft:DejaVuSansMono:size=10
!URxvt.scrollBar:	 false

